@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #FB6600;
}

.primary-button {
  color: white;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  padding: 8px 12px;
  border-radius: 0.5rem;
}

.primary-button:hover {
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}