@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #FB6600;
}

.btn {
  --tw-bg-opacity: 1;
  padding: 8px 12px;
  border-radius: 0.5rem;
}

.green-button {
  color: white;
  background-color: rgb(5 122 85/var(--tw-bg-opacity));
}

.red-button {
  color: white;
  background-color: rgb(224 36 36/var(--tw-bg-opacity));
}

.blue-button {
  color: white;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));;
}

.green-button:hover {
  background-color: rgb(4 108 78/var(--tw-bg-opacity));
}

.red-button:hover {
  background-color: rgb(200 30 30/var(--tw-bg-opacity));
}

.blue-button:hover {
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.input-gray {
  --tw-text-opacity: 1;  
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem;
  border-width: 1px;
  border-radius: 0.5rem;
}

.input-label {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

.card {

}

.card-line {
  gap: 15%;
  align-items: center;
  display: flex;
}